@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my library!</h1>
    <p style="font-size: 18px">Click "Books" to view the books the library has to offer.</p>
</div>
